#top-menu {
  padding: 21px 0 20px 21px;
  color: #c4c4c4;
  font-size: 12px;
  list-style: none;
  li {
    display: inline-block;
    padding-right: 5px;
    &:not(:first-child) {
        border-left: solid 1px #c4c4c4;
        padding-left: 5px;
    }
  }

  a {
    color: #c4c4c4;
    &:hover {
      color: #c4c4c4;
    }
  }
}
